{% extends 'base.html.twig' %}

{% form_theme formSortie "bootstrap_5_layout.html.twig" %}

{% block title %}Créer une sortie - {{ parent() }}{% endblock %}

{% block body %}


<div>
    <h1>Créer une sortie</h1>
    {{ form_start(formSortie) }}

    {{ form_end(formSortie) }}
{#    {% include ('creer_sortie/_form.html.twig') with {'btnCancel' : 'Annuler'} %}#}

</div>
{% endblock %}
