{% extends 'base.html.twig' %}

{% form_theme formSortie "bootstrap_5_layout.html.twig" %}

{% block title %}Modifier une  sortie - {{ parent() }}{% endblock %}

{% block body %}


    <div>
        <h1>Modifier une sortie</h1>

        {% include ('creer_sortie/_form.html.twig') with {'btnRegister' : 'Enregistrer', 'btnValider' : 'Modifier', 'btnCancel' : 'Annuler'} %}

    </div>
{% endblock %}